@{
    ViewData["Title"] = "Contact Page";
}

<div>
    <h1>Contact Details:</h1>
    <br>
    <label>Email:</label>
    <a href="mailto:akash.gothria678@gmail.com">Contact us here</a>
    <br>
    <label>Phone:</label>
    <a href="callto:+917073806299">Call us</a>
</div>