@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1>Welcome</h1>
        
   <h2>Welcome to Model View Controller Architecture of WebDevelopment</h2>
   <h4>Technology: MS.net</h4>
   <br>
   <br>
   <u><h5>Model:</h5></u> <h6>Model contains businuss logic of application</h6>
   <u><h5>View:</h5></u><h6>View contains UI of our application</h6>
   <u><h5>Controller:</h5></u><h6> Controller engine recieve request from the server which is coming through the middlewares <br>
   and controller factory initialised controller object and use the respective page from the view of request and <br> render back to the end user of our application.</h6>
</div>
